# -*- mode: makefile-gmake; mode: flyspell-prog; -*-

TARGET = exp430g2211

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mmpy=none -mdisable-watchdog

$(call TOSMake_include,msp430-small/mspdebug.extra)
$(call TOSMake_include_platform,exp430g2211)
$(call TOSMake_include_make_platform,msp)

exp430g2211: $(BUILD_DEPS)
	@:

# vim: set noet ts=8 sw=8 syntax=make:
