# -*- mode: makefile-gmake; mode: flyspell-prog; -*-

TARGET = ez430f2012
MSP_MCU = msp430f2012

$(call TOSMake_include_family,ez430f)
$(call TOSMake_include_make_platform,msp430-small)

# vim: set noet ts=8 sw=8 syntax=make:
