# -*- mode: makefile-gmake; mode: flyspell-prog; -*-

TARGET = raw430f2618
MSP_MCU = msp430f2618

MSP_BSL_FLAGS = --invert-reset --invert-test

$(call TOSMake_include_family,raw430)
$(call TOSMake_include_make_platform,msp430-small)

# vim: set noet ts=8 sw=8 syntax=make:
