# -*- mode: makefile-gmake; mode: flyspell-prog; -*-

TARGET = raw430g2402
MSP_MCU = msp430g2402

$(call TOSMake_include_family,raw430)
$(call TOSMake_include_make_platform,msp430-small)

# vim: set noet ts=8 sw=8 syntax=make:
