#-*-Makefile-*- vim:syntax=make
#$Id: telosb.target,v 1.5 2008/03/11 09:34:13 klueska Exp $

PLATFORM ?= ez430f2013

MSP_MCU = msp430x2013

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
OPTFLAGS += -O

$(call TOSMake_include_platform,msp)

ez430f2013: $(BUILD_DEPS)
	@:
