#-*-Makefile-*- vim:syntax=make
#$Id: telosb.target,v 1.5 2008/03/11 09:34:13 klueska Exp $

PLATFORM ?= ez430rf2500

MSP_MCU = msp430x2274

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
OPTFLAGS += -O

ifndef DEFAULT_PROGRAM
DEFAULT_PROGRAM = mspdebug
endif

$(call TOSMake_include_platform,msp)

ez430rf2500: $(BUILD_DEPS)
	@:
