# -*- mode: makefile-gmake; mode: flyspell-prog; -*-

PLATFORM ?= msp430g2231

MSP_MCU = msp430x2231

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
OPTFLAGS += -O

ifndef DEFAULT_PROGRAM
DEFAULT_PROGRAM = mspdebug
endif

$(call TOSMake_include_platform,msp)

msp430g2231: $(BUILD_DEPS)
	@:

# vim: set noet ts=8 sw=8 syntax=make:
