# -*- mode: makefile-gmake; mode: flyspell-prog; -*-

PLATFORM ?= msp430f2131

MSP_MCU = msp430f2131

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul

ifndef DEFAULT_PROGRAM
DEFAULT_PROGRAM = tos-bsl
endif

TOS_BSL_FLAGS ?= --invert-reset

$(call TOSMake_include_platform,msp)

msp430f2131: $(BUILD_DEPS)
	@:

# vim: set noet ts=8 sw=8 syntax=make:
