#-*-Makefile-*- vim:syntax=make
#$Id: telosb.target,v 1.5 2008/03/11 09:34:13 klueska Exp $

PLATFORM ?= msp430f1232

MSP_MCU = msp430x1232

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
OPTFLAGS += -O

ifndef DEFAULT_PROGRAM
DEFAULT_PROGRAM = tos-bsl
endif

MSP_BSL_FLAGS ?= --invert-reset

$(call TOSMake_include_platform,msp)

msp430f1232: $(BUILD_DEPS)
	@:
